<h2>{{ id ? "Edit Board" : "Add Board" }}</h2>
<form
  (submit)="save()"
  [formGroup]="form"
  fxLayout="column"
  fxLayoutGap="0.5rem"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      color="accent"
      type="text"
      required
      matInput
      formControlName="name"
    />
    <mat-error *ngIf="form.touched && form.get('name')?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <div
    fxLayout="column"
    fxLayoutGap="0.5rem"
    fxLayoutAlign="flex-start flex-start"
  >
    <mat-label>Background image</mat-label>
    <img
      class="thumb"
      [src]="form.get('backgroundUrl')!.value"
      *ngIf="form.get('backgroundUrl')!.value"
    />
    <input
      color="accent"
      type="file"
      fxHide
      #fileUpload
      (change)="onBackgroundImageChange($event)"
      accept="image/*"
    />
    <div fxLayout="row" fxLayoutGap="0.5rem">
      <button
        type="button"
        (click)="fileUpload.click()"
        mat-raised-button
        color="accent"
      >
        Upload image
      </button>
      <button
        *ngIf="form.get('backgroundUrl')!.value"
        type="button"
        (click)="form.get('backgroundUrl')!.setValue(undefined)"
        mat-raised-button
        color="warn"
      >
        Clear
      </button>
    </div>
  </div>

  <br />
  <h3>Sounds</h3>
  <div fxLayout="column" fxLayoutGap="0.5rem">
    <mat-card *ngFor="let control of soundsFormArray.controls; let i = index">
      <mat-card-content>
        <form fxLayout="column" fxLayoutGap="0.5rem" [formGroup]="control">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              color="accent"
              type="text"
              required
              matInput
              formControlName="name"
            />
            <mat-error
              *ngIf="
                control.touched && control.get('name')?.hasError('required')
              "
            >
              Name is required
            </mat-error>
          </mat-form-field>

          <div
            fxLayout="column"
            fxLayoutGap="0.5rem"
            fxLayoutAlign="flex-start flex-start"
          >
            <mat-label>Sound file</mat-label>
            <audio
              controls
              [src]="control.get('url')!.value"
              *ngIf="control.get('url')!.value"
            ></audio>

            <input
              color="accent"
              type="file"
              fxHide
              #audioUpload
              (change)="onAudioUpload($event, control)"
              accept="audio/*"
            />
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <button
                type="button"
                (click)="audioUpload.click()"
                mat-raised-button
                color="accent"
              >
                Upload sound
              </button>
              <button
                *ngIf="control.get('url')!.value"
                type="button"
                (click)="control.get('url')!.setValue(undefined)"
                mat-raised-button
                color="warn"
              >
                Clear
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="deleteSound(i)" mat-button color="warn">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card (click)="addSound()" class="cp">
      <mat-card-content>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
          <mat-icon>add</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      [disabled]="form.invalid"
      color="accent"
      type="submit"
      mat-raised-button
    >
      Save
    </button>
  </div>
</form>
