<div fxLayout="column" fxLayoutGap="0.5rem">
  <button
    routerLink="/"
    routerLinkActive="mat-accent"
    mat-raised-button
    (click)="navigate('/', $event)"
    [routerLinkActiveOptions]="{exact: true}"
    color="primary"
  >
    Home
  </button>
  <button
    routerLink="/my-boards"
    routerLinkActive="mat-accent"
    (click)="navigate('/my-boards', $event)"
    mat-raised-button
    color="primary"
  >
    My Boards
  </button>
  <button
    routerLink="/add"
    routerLinkActive="mat-accent"
    (click)="navigate('/add', $event)"
    mat-raised-button
    color="primary"
  >
    New board
  </button>
</div>
