<h2>My Boards</h2>
<div class="mb-1" fxLayout="row" fxLayoutAlign="flex-end center">
  <button mat-raised-button routerLink="/add" color="accent">
    <mat-icon>add</mat-icon>
    <span>Add new board</span>
  </button>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5rem">
  <mat-card
    *ngFor="let b of boards; let i = index"
    class="cp"
    fxFlex.gt-xs="1 1 calc(33% - 1rem)"
  >
    <mat-card-header>
      <mat-card-title>{{ b.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="b.backgroundUrl || '/assets/images/board.jpg'" />

    <mat-card-actions>
      <button [routerLink]="'/view/' + b.id" mat-button color="accent">
        <mat-icon>visibility</mat-icon>
        <span>View</span>
      </button>
      <button [routerLink]="'/edit/' + b.id" mat-button color="accent">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button (click)="deleteBoard(b.id!, i)" mat-button color="warn">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
